<p>Bonjour,</p>

<p>
  Votre code de confirmation est :
</p>

<h2 style="letter-spacing: 4px;">
  <%= @data["otp"] %>
</h2>

<p>
  Ce code expire dans 5 minutes.
</p>

<p>
  Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.
</p>

<p>
  L'équipe YETA+
</p>